<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "scaffolds" %>
  <%= stylesheet_link_tag "depot", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title||"Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="www.baidu.com">Home</a> <br>
      <a href="www.baidu.com">Questions</a> <br>
      <a href="www.baidu.com">News</a> <br>
      <a href="www.baidu.com">Contact</a> <br>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
